In [20]:
import tabula
import pandas as pd
df = tabula.read_pdf('july10-23.pdf')

'pages' argument isn't specified.Will extract only from page 1 by default.

In [98]:
# display(df[0])
# display(df[1])
df_full = pd.concat([df[0], df[1]], ignore_index=True
            ).dropna(subset='Start'
            ).fillna(method='ffill'
            ).drop(['Notes', 'Project', 'Task', 'Earn Code'], axis=1)
df_full

           Day     Start       End  Hours            Description
1   Mon Jul 11  10:00 AM  12:00 PM    3.5                  Mocap
2   Mon Jul 11  12:00 PM   1:00 PM    3.5            ITG Meeting
3   Mon Jul 11   1:00 PM   1:30 PM    3.5                  Mocap
5   Wed Jul 13   9:30 AM  11:30 AM    2.0           NeoNatal Rig
10  Mon Jul 18  12:00 PM  12:15 PM    0.3            ITG Meeting
11  Tue Jul 19  10:30 AM  11:30 AM    3.0               Jov Icon
12  Tue Jul 19   3:00 PM   5:00 PM    3.0         NeoNatal Model
13  Wed Jul 20  10:00 AM  11:00 AM    2.5  Neonatal Rig and meet
14  Wed Jul 20  12:30 PM   2:00 PM    2.5             NeoNatal R
15  Thu Jul 21  10:00 AM  11:00 AM    3.0               Jov Icon
16  Thu Jul 21  12:00 PM   2:00 PM    3.0               Spay Rig
17  Fri Jul 22   9:30 AM  11:30 AM    2.0   Spay Rig and Meeting

In [109]:
df_full['Rtime'] = (0.01+(pd.to_datetime(df_full['End']
                        )-pd.to_datetime(df_full['Start'])
                        ).dt.seconds/3600
                        ).round(1)
df_full.style.hide(axis='index').format(precision=1)

In [51]:
df_full.loc[df_full['Description']=='Mocap']

,Day,Start,End,Hours,Description,Notes,Project,Task,Earn Code,Ttime
1,Mon Jul 11,10:00 AM,12:00 PM,3.5,Mocap,NaN,_General,_General,RGO,0 days 02:00:00
3,Mon Jul 11,1:00 PM,1:30 PM,3.5,Mocap,NaN,_General,_General,RGO,0 days 00:30:00

In [54]:
df_full['Description'].unique()

array(['Mocap', 'ITG Meeting', 'NeoNatal Rig', 'Jov Icon',
       'NeoNatal Model', 'Neonatal Rig and meet', 'NeoNatal R',
       'Spay Rig', 'Spay Rig and Meeting'], dtype=object)

In [59]:
list(set(df_full['Description']))

['Spay Rig and Meeting',
 'Jov Icon',
 'NeoNatal Model',
 'NeoNatal R',
 'NeoNatal Rig',
 'Mocap',
 'Spay Rig',
 'ITG Meeting',
 'Neonatal Rig and meet']

In [58]:
a = set([1,2,3,4,12,3,541,2,3,4,1,2,4,5,1])
[x for x in a]

[1, 2, 3, 4, 5, 12, 541]